.wrapper{
    height: 100vh;
    display: flex;
    justify-content: column;
    justify-content: space-around;
    align-items: center; 
}

.header{
    height: 100vh;
    display: flex;
    justify-content: column;
    justify-content: space-around;
    align-items: center; 
}