nav .dash{
    display: flex;
   justify-content: space-between;

}
nav .dash ul li{
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
    margin: 80px;
}
nav .dash img{
    height: 150px;
    margin-top: 50px;
    margin-left: 30px;

}
nav .dash ul {
    display: flex;
}
