nav .dash{
    display: flex;
   justify-content: space-between;

}
nav .dash ul li{
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
    margin: 80px;
}
nav .dash img{
    height: 150px;
    margin-top: 50px;
    margin-left: 30px;

}
nav .dash ul {
    display: flex;
    
}
.dash1{
    display: flex;
    margin-top: 80px;
    margin-left: 80px;
    justify-content: space-between;
}
.dash1 .dash2 {
    margin-right: 350px;
    }
    .dash1 .dash2 form input{
        display: block;
        margin-top: 10px;
        font-size: 20px;
        border: 2px solid black;
        
    }
    .dash1 .dash2 form label{
    border: 1px solid;
    }
    .dash1 .dash2  .group{
        border: 0px;
        outline: 0px;
    }
    
