*{
   font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
}
body{
    background-image: url("../images/bg-man.jpg");
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
}
.center{
    display: flex;
    justify-content: center;
    align-content: center;
}
input{
    background-color:silver;
    padding: 1rem;
    color: black;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 5px grey;
    font-size: x-large;
}
button{
    background-color: #FA510F;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #FA510F;
    border: none;
    padding:1rem;
    color: white;
    margin-top: 3rem;
}
.option{
    display: flex;
    justify-content: center;
}
#one{
    margin-right: 3rem;
}
#two{
    margin-left: 3rem;
}