/* ****************** Reset Defaults ****************** */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    

}

/* ****************** Links ****************** */
a{
    text-decoration: none;
    color: white;
    background-color:#FA510F;
    border: 1px solid #FA510F;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    top: -40px;
}

/* ****************** Buttons ****************** */
.btn-primary{
    background-color: #FA510F;
    color:white;
    font-size: 20px;
    padding: 8px;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid #FA510F;
    border-radius: 6px;
}

/* ****************** ul ****************** */
li{
   list-style: none;
}