/* ****************** Reset Defaults ****************** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ****************** Links ****************** */
a {
  text-decoration: none;
  color: white;
  background-color: #fa510f;
}

/* ****************** Buttons ****************** */
.btn-primary {
  background-color: #fa510f;
  color: white;
  border-radius: 6px;
}

/* Warning */
.border-warning {
  border: 0.1rem solid #fa510f !important;
}

.border-success {
  border: 0.2rem solid green !important;
}

.name-error,
.last-name-error {
  color: #fa510f;
}

/* ****************** ul ****************** */
li {
  list-style: none;
}

input{
    border-radius: 0.5rem;
    outline: none;
}
