/* ****************** Reset Defaults ****************** */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ****************** Links ****************** */
a{
    text-decoration: none;
    color: black;
}

/* ****************** Buttons ****************** */
.btn-primary{
    background-color: orange;
    color:black;
}

/* ****************** ul ****************** */
li{
   list-style: none;
}